/archivio_test_aperti/
/cmake-build-debug/
/.idea/
/input.txt
/open_1.output.txt
/open_1.txt
/open_2.output.txt
/open_2.txt
/open_3.output.txt
/open_3.txt
/open_4.output.txt
/open_4.txt
/open_5.output.txt
/open_5.txt
/open_6.output.txt
/open_6.txt
/open_7.output.txt
/open_7.txt
/open_8.output.txt
/open_8.txt
/open_9.output.txt
/open_9.txt
/open_10.output.txt
/open_10.txt
/open_11.output.txt
/open_11.txt
/open_12.output.txt
/open_12.txt
/open_13.output.txt
/open_13.txt
/open_14.output.txt
/open_14.txt
/open_15.output.txt
/open_15.txt
/open_16.output.txt
/open_16.txt
/open_17.output.txt
/open_17.txt
/open_18.output.txt
/open_18.txt
/open_19.output.txt
/open_19.txt
/open_20.output.txt
/open_20.txt
/open_21.output.txt
/open_21.txt
/open_22.output.txt
/open_22.txt
/open_23.output.txt
/open_23.txt
/open_24.output.txt
/open_24.txt
/open_25.output.txt
/open_25.txt
/open_26.output.txt
/open_26.txt
/open_27.output.txt
/open_27.txt
/open_28.output.txt
/open_28.txt
/open_29.output.txt
/open_29.txt
/open_30.output.txt
/open_30.txt
/open_31.output.txt
/open_31.txt
/open_32.output.txt
/open_32.txt
/open_33.output.txt
/open_33.txt
/open_34.output.txt
/open_34.txt
/open_35.output.txt
/open_35.txt
/open_36.output.txt
/open_36.txt
/open_37.output.txt
/open_37.txt
/open_38.output.txt
/open_38.txt
/open_39.output.txt
/open_39.txt
/open_40.output.txt
/open_40.txt
/open_41.output.txt
/open_41.txt
/open_42.output.txt
/open_42.txt
/open_43.output.txt
/open_43.txt
/open_44.output.txt
/open_44.txt
/open_45.output.txt
/open_45.txt
/open_46.output.txt
/open_46.txt
/open_47.output.txt
/open_47.txt
/open_48.output.txt
/open_48.txt
/open_49.output.txt
/open_49.txt
/open_50.output.txt
/open_50.txt
/open_51.output.txt
/open_51.txt
/open_52.output.txt
/open_52.txt
/open_53.output.txt
/open_53.txt
/open_54.output.txt
/open_54.txt
/open_55.output.txt
/open_55.txt
/open_56.output.txt
/open_56.txt
/open_57.output.txt
/open_57.txt
/open_58.output.txt
/open_58.txt
/open_59.output.txt
/open_59.txt
/open_60.output.txt
/open_60.txt
/open_61.output.txt
/open_61.txt
/open_62.output.txt
/open_62.txt
/open_63.output.txt
/open_63.txt
/open_64.output.txt
/open_64.txt
/open_65.output.txt
/open_65.txt
/open_66.output.txt
/open_66.txt
/open_67.output.txt
/open_67.txt
/open_68.output.txt
/open_68.txt
/open_69.output.txt
/open_69.txt
/open_70.output.txt
/open_70.txt
/open_71.output.txt
/open_71.txt
/open_72.output.txt
/open_72.txt
/open_73.output.txt
/open_73.txt
/open_74.output.txt
/open_74.txt
/open_75.output.txt
/open_75.txt
/open_76.output.txt
/open_76.txt
/open_77.output.txt
/open_77.txt
/open_78.output.txt
/open_78.txt
/open_79.output.txt
/open_79.txt
/open_80.output.txt
/open_80.txt
/open_81.output.txt
/open_81.txt
/open_82.output.txt
/open_82.txt
/open_83.output.txt
/open_83.txt
/open_84.output.txt
/open_84.txt
/open_85.output.txt
/open_85.txt
/open_86.output.txt
/open_86.txt
/open_87.output.txt
/open_87.txt
/open_88.output.txt
/open_88.txt
/open_89.output.txt
/open_89.txt
/open_90.output.txt
/open_90.txt
/open_91.output.txt
/open_91.txt
/open_92.output.txt
/open_92.txt
/open_93.output.txt
/open_93.txt
/open_94.output.txt
/open_94.txt
/open_95.output.txt
/open_95.txt
/open_96.output.txt
/open_96.txt
/open_97.output.txt
/open_97.txt
/open_98.output.txt
/open_98.txt
/open_99.output.txt
/open_99.txt
/open_100.output.txt
/open_100.txt
/open_101.output.txt
/open_101.txt
/open_102.output.txt
/open_102.txt
/open_103.output.txt
/open_103.txt
/open_104.output.txt
/open_104.txt
/open_105.output.txt
/open_105.txt
/open_106.output.txt
/open_106.txt
/open_107.output.txt
/open_107.txt
/open_108.output.txt
/open_108.txt
/open_109.output.txt
/open_109.txt
/open_110.output.txt
/open_110.txt
/open_111.output.txt
/open_111.txt
/output.txt
/TEST RATE.txt
